.App {
  width: 90%;
  height: 80%;
  margin: 5%;
  background-color: #E2E2E4;
  position: relative;
}


.spacing {
  width: 100%;
  height: 100px;
}

.banner-spacing {
  width: 100%;
  height: 150px;
}

.disk-container {
  width:100%;
  height: 230px;
  display: flex;
  flex-wrap: wrap;
}

.ribbon-banner {
  display: table;
  max-width: 85%;
  font-size: 24px;
  line-height: 1.1;
  position: relative;
  background: linear-gradient( -45deg, #5d5d5d 0%, #3f3f3f 27%, #1c1c1c 87% );
  color: #fff;
  text-align: center;
  padding: .3em 1em .3em;
  text-shadow: 0 1px 3px #6c6c6c;
}

.ribbon-banner span:before,
.ribbon-banner span:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #616161 transparent transparent transparent;
  bottom: -0.35em;
}
.ribbon-banner span:before {
  left: 0;
  border-width: 0.35em 0 0 1em;
}
.ribbon-banner span:after {
  right: 0;
  border-width: 0.35em 1em 0 0;
}
